/* Base Container */
.issues-container {
  display: flex;
  font-family: 'Arial', sans-serif;
  color: #333;
  margin-left: 250px;
  width: 100%;
  min-height: 100vh;
}

/* Main Content Area */
.dashboard-content {
  flex-grow: 1;
  padding: 20px;
  margin-left: 120px;
  margin-right: 20px;
  width: calc(100% - 140px);
}

