body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f449;
    overflow: hidden;
;
}

.page-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-image: url('../assets/background.jpg'); 
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat; 
    min-height: 100vh; 
    padding : 30px 120px;
}

.content-container {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.notification-card {
    background-color: rgba(255, 255, 255, 0.516); /* Semi-transparent background for readability */
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    width: 100%;
    max-width: 2000px;
    padding : 50px 700px;
}

.card-header {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 15px;
    color: #333;
}

.notification-content {
    background-color: #f9f9f9;
    border-radius: 6px;
    padding: 15px;
    ;
}

.notification-title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
}

.notification-text {
    font-size: 16px;
    margin-bottom: 20px;
}

.notification-timestamp {
    font-size: 14px;
    color: #555;
}