body, html {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
  }
  
  .page-container {
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('pexels-olia-danilevich-5088017.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
  
 