.signup-page {
    display: flex;
    height: 100vh;
}

.left-side {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f0f0f0;
}

.intro-image {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.right-side {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    background-color: white;
}

h1, h2, label, .terms-group label {
    color: rgb(14, 179, 14);
}

.form-group {
    margin-bottom: 15px;
    width: 90%;
    position: relative;
}

label {
    display: block;
    margin-bottom: 5px;
}

.input-container {
    position: relative;

}

input, select {
    width: 100%;
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #e0ffe0; 
}

input:focus, select:focus {
    outline: none;
    border-color:  rgb(14, 179, 14);
}

.icon {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    width: 20px;
    height: 20px;
    cursor: pointer;
}

.signup-button {
    width: 90%;
    padding: 15px;
    background-color:  rgb(14, 179, 14);;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
}

.signup-button:hover {
    background-color:  rgb(14, 179, 14);
}

.terms-group {
    display: flex;
    align-items: center;
    gap: 10px;
    position: center;
    color: black;
}